@{
    ViewBag.Title = "HOW IT WORKS";
}
<h3>@ViewBag.Title.</h3>


<div class="container">
    <div class="row">

        <div class="col-sm-4 col">
            <h3>ENTER YOUR TRIP </h3>
            <p>Use our web app with an intuitive user interface to plan your trip. Enter preferred starting point and destination.</p>
        </div>

        <div class="col-sm-4 col">
            <h3>MAKE A RESERVATION</h3>
            <p>Use a web app to reserve an available place in a car. Thanks to seat reservation the number of single-occupancy rides is minimized and travel costs are reduced.</p>
        </div>

        <div class="col-sm-4 col">
            <h3>RATE</h3>
            <p>The platform provides an opportunity for the users to rate their carpooling experience. Improve the quality of the service and increase trust between co-workers.</p>

        </div>
    </div>
</div>
